<!-- header -->
<mat-toolbar color="primary">
  <span>Establishments in and nearby Amsterdam</span>
</mat-toolbar>

<div class="appContainer">
  <!-- filters -->
  <div class="menuContainer">
    <app-establishments-menu></app-establishments-menu>
  </div>
  <app-table-view></app-table-view>
</div>

<!-- switching between table and map view>
<div class="viewContainer">
  <mat-tab-group color="accent">
    <mat-tab label="Table">
      <app-table-view></app-table-view>
    </mat-tab>
    <mat-tab label="Map">
    </mat-tab>
  </mat-tab-group>
</div-->
